@font-face {
    font-family: Smilecomix;
    src: url('/fonts/Smilecomix.ttf');
}
@font-face {
    font-family: Eastman;
    src: url('/fonts/Eastman-Condensed-Extrabold-trial.otf');
}
html, body{ 
    min-height: 100vh;
    overflow: auto;
}
main{
    min-height: 85vh;
}
h1{
    font-family: Smilecomix;
}
.color--lets{
    color: #68c3ed;
}
.btn-lets{
    background-color: #68c3ed;
    border-color: #68c3ed;
    color: #fff;
}
.card-header-lets{
    background-color: #fff;
}
.background-lets{
    background-color: #68c3ed;
}
.bg-black{
    background-color: black;
}
.bg-lets-light,.bg-lets-light:active,.bg-lets-light:focus{
    background-color: #E3F3FB;
}
.text-transparent{
    color: rgba(0,0,0,0.7);
}
.btn-ancho{
    padding: 0.375rem 2.5rem;
}
/* NAV */
.margin-right-nav{
    margin-right: 50px;
}
.nav-white{
    color: #fff!important;
}
/* QUIENES SOMOS */
.we-article{
    border: #68c3ed solid 2px;
    border-radius: 5px;
    margin-top: 100px;
}
.we-title{
    border-bottom: #68c3ed solid 2px;
}
/* HOME ADMIN */
.home--title{
    padding: 100px 0;
}
.notification{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 2;
    text-align: center;
}
/* HOME USER */
.height-40{
    min-height: 40vh;
}
.background-image{
    height: 35vh;
}
.height-40>h2{
    font-family: 'Eastman', sans-serif;
    padding-left: 30px;
    width: 40%;
}
.search-form{
    max-width: 95%;
    position: relative;
    top: -55px;
}
.w-100-sm{
    width: 100%;
}
.w-15{
    width: 15%;
}
.w-95{
    width: 95%;
}
.row-span-2{
    grid-row: span 2;
}
.img-home{
    max-width: 1000px;
    width: 100%;
}
.img-home-catedral,.img-home-columna{
    width: 100%;
    transform: scaleX(-1);
}
.img-icon{
    width: 3em;
}
.fsize-1,.form-control,.privacidad p,.privacidad li{
    font-size: 1rem;
}
.footer-index p,.fz-1{
    font-size: 1.1rem;
}
.caracteristicas p, .description-as>p{
    font-size: 1.3rem;
}
.caracteristicas h5{
    font-size: 1.5rem;
    font-weight: 600;
}
.img-logo{
    width: 30%;
}
.font-3{
    font-size: 3rem;
}
.caracteristicas>div{
    width: 50%;
}
.description-as>p{
    width: 35%;
}
.social-media{
    width: 35px;
}
.order-list-me{
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
    width: 75%;
}
.order-list-me li{
    background-color: rgba(0,0,0,0.8);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    counter-increment: gradient-counter;
    margin-top: 2rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    font-size: 1.3rem;
}
.order-list-me li:before {
    background: linear-gradient(135deg, #1d1f20 0%,#68c3ed 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
    align-items: flex-end;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    content: counter(gradient-counter);
    color: #fff;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}
/* PRIVACIDAD */
.privacidad{
    counter-reset: myCounter;
}
.counter::before{
    content: counter(myCounter,upper-roman)". ";
}
.counter{
    counter-increment: myCounter;
    font-weight: 700;
}
.d-grid{
    display: grid;
}
.row-gap-30{
    row-gap: 30px;
}
.margin-top-center{
    margin-top: 200px;
}
/* COINCIDENCIAS */
.cristal-color{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255,255,255,0.5);
}
.image-unity{
    border-radius: 50%;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    width: 150px;
}
.w-60{
    width: 60%;
}
.border-dashed-left{
    border-left: dashed 2px rgba(0, 0, 0, 0.2);
}
.linea{
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    margin: 20px auto 0 auto;
    padding: 0;
}
/* LISTAR SERVICIOS EN UNIDADES */
.grid-c5{
    display: grid;
    gap: 10px 20px;
    grid-template-columns: repeat(5,1fr);
}
/* CREAR CORRIDA */
.new--corrida--precio{
    margin-top: 30px;
}
/* MODIFICAR */
.crud--new{
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}
.d-flex-justify-around{
    justify-content: space-around;
}
/* INGRESAR PASAJEROS */
.grid-c2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 40px;
}
.size-input-check{
    height: 20px;
    width: 20px;
}
.width-500{
    width: 500px;
}
@media screen and (min-width: 1400px){
    .height-40>h2{
        font-size: 4rem;
    }
    .w-responsive-75{
        width: 75%;
        margin: 0.5rem auto 0!important;
    }
    .reservas-user{
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1094px){
    .article-pasajeros-responsive{
        flex-direction: column;
    }
    .article-pasajeros-responsive>.section--corrida{
        margin: auto!important;
        width: 50%!important;
    }
    .article-pasajeros-responsive>.section--pasajeros{
        margin: auto!important;
    }
    .grid-c3-responsive{
        grid-template-columns: repeat(3,1fr);
    }
    .description-as>p{
        width: 45%;
    }
    .order-list-me{
        width: 95%;
    }
    .fa-arrow-responsive{
        font-size: 8px;
    }
}
@media screen and (max-width:840px) {
    .height-40{
        min-height: 35vh;
    }
    .height-40>img{
        height: 30vh;
    }
    .height-40>h2{
        font-size: 2.3rem;
    }
    .w-60{
        width: 100%;
    }
}
@media screen and (max-width: 768px) { 
    .caracteristicas>div,.description-as>p{
        width: 100%;
    }
    .w-15{
        width: 35%;
    }
    .border-dashed-left{
        border-left: none;
    }
    .img-home-catedral{
        width: 85%;
    }
    .fa-arrow-responsive{
        font-size: 8px;
    }
    .height-40>h2{
        font-size: 1.9rem;
    }
    .letter-responsive .h1{
        font-size: 2rem;
    }
    .letter-responsive .font-3{
        font-size: 2.5rem;
    }
    .letter-responsive h3{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 637px){
    .around--btn{
        flex-direction: column;
    }
    .around--btn>a:first-of-type{
        margin-bottom: 5px;
    }
    .article-pasajeros-responsive>.section--corrida,.width-75-responsive{
        width: 75%!important;
    }
    .grid-c2{
        grid-template-columns: 1fr;
        gap: 40px 0;
    }
    .g-span-col-2{
        grid-column: 1;
    }
    .height-40>img{
        height: 25vh;
    }
}
@media (max-width: 576px) { 
    .height-40>img{
        height: 20vh;
    }
    .order-list-me{
        width: 100%;
    }
}